@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
body {
  font-family: 'Lato';
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  color: #353738;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: url(../img/head.jpg) center/cover no-repeat;
  padding-top: 35px;
  height: 100vh;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-mob {
  display: none;
}

.header__burger {
  display: none;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-list {
  position: relative;
  margin: 0 35px;
}

.link-list:first-child:before {
  content: '.';
  position: absolute;
  top: 0;
  right: -35px;
}

.link-list:last-child:after {
  content: '.';
  position: absolute;
  top: 0;
  left: -35px;
}

.link-list a {
  font-size: 13px;
  font-weight: 700;
  color: #4d4959;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .header__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo-mob {
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -47px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    top: 0;
    right: 20px;
  }
  .header__burger span {
    position: absolute;
    background-color: #64C29E;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #64C29E;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }
  .header__menu {
    background-color: #4d4959;
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .link-list {
    margin: 25px 0;
  }
  .header .link-list:first-child:before {
    color: #fff;
    top: 35px;
    right: 50%;
  }
  .header .link-list:nth-child(4):after {
    content: '.';
    color: #fff;
    position: absolute;
    top: -35px;
    left: 50%;
  }
  .header .link-list:last-child:after {
    color: #fff;
    top: -35px;
    left: 50%;
  }
  .header .link-list a {
    color: #fff;
    font-size: 20px;
  }
  .header .link-number-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header .link-number-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header .link-number-3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 30px;
  }
  .header .link-number-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .header .link-number-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.generation {
  background-color: #f7f7f7;
  padding: 115px 20px 140px 20px;
}

.generation__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.generation__titile {
  margin: 30px 0;
}

.generation__text {
  font-size: 18px;
  line-height: 34px;
}

.text {
  color: #848789;
}

.oliva__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 600px;
}

.oliva__column:first-child {
  width: 66.666%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.oliva__column:first-child:after {
  content: url(../img/icons/mini_img_1.png);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -57.5px 0 0 -61px;
}

.oliva__column:last-child {
  width: 33.333%;
  height: 100%;
  overflow: hidden;
}

.oliva__img-left {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.oliva__block-text {
  height: 66.666%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12%;
}

.oliva__title {
  margin: 25px 0;
}

.oliva__text {
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 5%;
  position: relative;
}

.oliva__text:after {
  content: '';
  position: absolute;
  background-color: #848789;
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}

.oliva__photo-block {
  overflow: hidden;
}

.oliva__img-right {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .oliva__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .oliva__column:first-child {
    width: 100%;
  }
  .oliva__column:last-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .oliva__block-text {
    height: 100%;
    width: 40%;
    padding: 0 2%;
  }
  .oliva__photo-block {
    height: 100%;
    width: 60%;
  }
  .oliva__text {
    line-height: 25px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .oliva__row {
    height: 900px;
  }
  .oliva__column:first-child {
    height: 300px;
  }
  .oliva__column:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: 600px;
  }
  .oliva__block-text {
    height: 300px;
    width: 100%;
  }
  .oliva__text {
    text-align: center;
  }
  .oliva__photo-block {
    height: 300px;
    width: 100%;
  }
}

.boriosa__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 600px;
}

.boriosa__column:first-child {
  width: 33.333%;
  height: 100%;
  overflow: hidden;
}

.boriosa__column:last-child {
  width: 66.666%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.boriosa__column:last-child:after {
  content: url(../img/icons/mini_img_2.png);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -88.5px 0 0 -76px;
}

.boriosa__block-text {
  height: 66.666%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12%;
}

.boriosa__title {
  margin: 25px 0;
}

.boriosa__text {
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 5%;
  position: relative;
}

.boriosa__text:after {
  content: '';
  position: absolute;
  background-color: #848789;
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}

.boriosa__photo-block {
  overflow: hidden;
  height: 33.333%;
}

.boriosa__img-right {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.boriosa__img-left {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .boriosa__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boriosa__column:first-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .boriosa__column:last-child {
    width: 100%;
  }
  .boriosa__block-text {
    height: 100%;
    width: 40%;
    padding: 0 2%;
  }
  .boriosa__photo-block {
    height: 100%;
    width: 60%;
  }
  .boriosa__text {
    line-height: 25px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .boriosa__row {
    height: 900px;
  }
  .boriosa__column:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: 600px;
  }
  .boriosa__column:last-child {
    height: 300px;
  }
  .boriosa__block-text {
    height: 300px;
    width: 100%;
  }
  .boriosa__text {
    text-align: center;
  }
  .boriosa__photo-block {
    height: 300px;
    width: 100%;
  }
}

.retro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 600px;
}

.retro__column {
  width: 33.333%;
  overflow: hidden;
}

.retro__column:first-child {
  position: relative;
}

.retro__column:first-child:after {
  content: url(../img/icons/mini_img_3.png);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -33.5px 0 0 -104px;
}

.retro__img-left {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.retro__block-text {
  height: 66.666%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12%;
}

.retro__title {
  margin: 25px 0;
}

.retro__text {
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 5%;
  position: relative;
}

.retro__text:after {
  content: '';
  position: absolute;
  background-color: #848789;
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}

.retro__photo-block {
  overflow: hidden;
  height: 33.333%;
}

.retro__img-center {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.retro__img-right {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .retro__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  .retro__column-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .retro__column-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .retro__column-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .retro__column:nth-child(2) {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .retro__column:last-child {
    width: 50%;
  }
  .retro__column:first-child {
    width: 50%;
  }
  .retro__block-text {
    height: 100%;
    width: 40%;
    padding: 0 2%;
  }
  .retro__photo-block {
    height: 100%;
    width: 60%;
  }
  .retro__text {
    line-height: 25px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .retro__row {
    height: 100%;
  }
  .retro__column:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 600px;
  }
  .retro__block-text {
    height: 300px;
    width: 100%;
  }
  .retro__text {
    text-align: center;
  }
  .retro__photo-block {
    height: 300px;
    width: 100%;
  }
}

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0;
}

.slider__item {
  text-align: center;
}

.slider__logo {
  margin: 0 0 35px 0;
}

.slider__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}

.slider__title span {
  font-weight: 300;
  color: #848789;
}

.slider__text {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

@media (max-width: 767px) {
  .slider {
    padding: 80px 0 40px 0;
  }
  .slider__logo {
    margin: 0 0 25px 0;
  }
  .slider__title {
    margin: 0 0 15px 0;
    font-size: 16px;
  }
  .slider__text {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-list {
  overflow: hidden;
}

.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-slider .slick-dots {
  padding: 70px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .slick-slider .slick-dots {
    padding: 40px 0 0 0;
  }
}

.slick-slider .slick-dots li {
  margin: 0px 5px;
}

.slick-slider .slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #8c8c8c;
  background-color: transparent;
}

.slick-slider .slick-dots li.slick-active button {
  background-color: #a9afb3;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.shop__wrap {
  width: 66.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__column-left {
  width: 50%;
}

.shop__row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.shop__column-right {
  width: 33.333%;
}

.shop__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  background-color: #282f35;
}

.shop__link {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px 55px;
}

@media (max-width: 1100px) {
  .shop__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shop__wrap {
    width: 100%;
  }
  .shop__column-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .shop__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shop__column-left {
    width: 100%;
  }
  .shop__row-center {
    width: 100%;
  }
  .shop__column-right {
    display: block;
    width: 100%;
  }
}

.center-block__item {
  width: 50%;
  overflow: hidden;
}

.center-block__img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: 100%;
}

.left-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.left-block__item-full {
  width: 100%;
  overflow: hidden;
}

.left-block__item {
  width: 50%;
  overflow: hidden;
}

.left-block__img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: 100%;
}

.left-block__full {
  height: 50%;
}

.right-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.right-block__item-full {
  width: 100%;
  overflow: hidden;
}

.right-block__item {
  width: 50%;
  overflow: hidden;
}

.right-block__img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: 100%;
}

.right-block__full {
  height: 50%;
}

@media (max-width: 1100px) {
  .right-block__full {
    width: 50%;
    height: 100%;
  }
  .right-block__row {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .right-block__full {
    width: 100%;
    height: 50%;
  }
  .right-block__row {
    height: 50%;
    width: 100%;
  }
}

.sanddle__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 110px 0;
}

.sanddle__logo {
  margin-bottom: 30px;
}

.sanddle__title {
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.sanddle__form {
  margin-top: 32.5px;
}

.sanddle__block-input {
  margin-right: 134px;
}

@media (max-width: 578px) {
  .sanddle__block-input {
    margin: 0;
  }
  .sanddle__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sanddle input[type=text] {
    width: 300px;
  }
  .sanddle button[type=submit] {
    margin-top: 5px;
    width: 300px;
  }
}

input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d3d7d9;
  width: 400px;
  height: 69px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  padding-left: 28px;
}

input[type=text]:hover {
  border: 1px solid #64c29e;
}

input[type=text]::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
  padding-left: 28px;
}

input[type=text]:-ms-input-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
  padding-left: 28px;
}

input[type=text]::-ms-input-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
  padding-left: 28px;
}

input[type=text]::placeholder {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
  padding-left: 28px;
}

button[type=submit] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #64c29e;
  height: 69px;
  width: 126px;
  font-size: 24px;
  line-height: 0;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  float: right;
}

.footer {
  background-color: #f7f7f7;
}

.footer__row {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon img {
  margin: 0 5px;
}

.footer__text-right p {
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  position: relative;
  padding-right: 60px;
}

.footer__text-right p::after {
  content: url(../../img/icons/yebo_logo.png);
  position: absolute;
  top: -50%;
  right: 0;
}

@media (max-width: 767px) {
  .footer__icon {
    margin: 35px 0;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.text-footer-1 {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}

.text-footer-2, .text-footer-3 {
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
  line-height: 17px;
  color: #848789;
}
